<div class="container">

  @if(pause){
  <app-read-config></app-read-config>
  }

  <div class="row">
    <div class="col-sm">
      <div class="d-flex flex-row-reverse">
        <button (click)="pauseIt()" class="btn btn-primary m-3 btn-lg">
          <i [ngClass]="pause ? 'bi bi-play-circle-fill' : 'bi-pause-btn-fill'"
            [title]="pause ? 'Reproducir' : 'Pausar'"></i>
        </button>

      </div>
    </div>
  </div>
  <div class="modal-body centerScreen">
    <div class="text-center textBoxHeight mt-5" [style.font-size.vw]="readService.fontSize">
      {{showedWord}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
      (click)="return()">Volver</button>
  </div>
</div>