<label for="customRange2" class="form-label">Pálabras por minúto: {{wpm}}</label>
<input type="range" class="form-range" [(ngModel)]="wpm" min="60" max="2000" id="customRange2">

<form [formGroup]="form">

  <div class=" mb-3 text-center mt-5">
    <label for="textForRsvp" class="form-label">Texto</label>
    <textarea class="form-control" id="textForRsvp" rows="10"
      formControlName="textForRsvp"></textarea>
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal"
      data-bs-target="#RSVPModal" (click)="showRsvp()">Velocileer</button>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-secondary btn-sm" type="button" (click)="loadTestText()">Cargar texto de
      prueba</button>
  </div>
</form>



<!-- Modal -->
<div class="modal fade" id="RSVPModal" tabindex="-1" aria-labelledby="RSVPModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body centerScreen">
        <h1 class="text-center">{{showedWord}}</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>