@if(alert){
<div class="alert alert-danger" role="alert">
  {{alert}}
</div>
}


<app-read-config></app-read-config>

<form [formGroup]="form">

  <div class=" mb-3 text-center mt-5">
    <label for="textToRead" class="form-label">Texto</label>
    <textarea class="form-control" id="textToRead" placeholder="Introduzca el texto que quiera leer"
      [rows]="extensionService.isRunningAsExtension() ? 5 : 10"
      formControlName="textToRead"></textarea>
    <button type="button" class="btn btn-primary mt-2" (click)="read()">Velocileer</button>
  </div>

  @if(!extensionService.isRunningAsExtension()){
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
      data-bs-target="#testTextModal">Cargar texto</button>
  </div>}
</form>

<!-- Modal de textos de ejemplo-->
<selection-modal-component (emittTestTextToLoad)="loadTestText($event)"
  (emittTextToReadTest)="readTest($event)"></selection-modal-component>